#fileuploaddiv {
		display: none;
		position: absolute;
		width: 300px;
}

#playlistedit {
		display: none;
		position: absolute;
		top: 100px;
		left: 400px;
		z-index: 10;
}

#fileedit {
		display: none;
		position: absolute;
		top: 20px;
		left: 400px;
}

#player {
		border: none;
		overflow: hidden;
		width: 300px;
		height: 250px;
}

#playlistnfiles {
		/* width: 90%; */
}

#listofplaylists select{
		width: 20em;
		height: 400px;
}
#playlistcontent select {
		width: 20em;
		height: 400px;
}
#playlistbuttons {
		width: 7em;
		padding-left: 2px;
		padding-right: 5px;
		margin-top: 150px;
		text-align: center;
}
#playlistcontentbuttons {
		width: 5em;
		padding-left: 5px;
		padding-right: 5px;
		margin-top: 150px;
		text-align: center;
}
#filebuttons{
		width: 5em;
		padding-left: 5px;
		padding-right: 5px;
		margin-top: 150px;
		text-align: center;
}
#searchnlist{
		height: 400px;
}
#searchnlist select{
		height: 374px;
}
#playlists {
}

select {
		font-weight: bold;
		overflow: auto;
		margin: 0px;
		padding: 0px;
		background-color: #eeeeee;
		color: black;
}


