body {
		font-family:monospace;
		font-size:14px;
		background-color:#000000; 
		margin-left:5px;
		margin-right:20px;
		margin-top:5px;
		margin-bottom:5px;
		color: #000000;
}

div.mate {
		border: 2px solid #999999;
		background-color: #ddddff;
		margin: 10px;
		padding: 15px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		float: left;
}

.cyanclass {
		background-color: cyan;
}

.greenclass {
		background-color: #00ff00;
}

.redclass {
		background-color: #ff0000;
}

.blocklass {
		display: block;
}


.floating {
		float: left;
}

.whiteclass {
		background-color: #ffffff;
}

a:link {
	font-weight: bold;
	color: #000000;
}

a:visited {
	font-weight: bold;
	color: #000000;
}

a:hover {
	font-weight: bold;
	color: #5555ff;
}


input,select,button {
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
}

input[type=SUBMIT], input[type=BUTTON], input[type=RESET], button {
		background-color: #ffff00;
		-moz-border-radius: 4px;
		border-radius: 4px;
}

#filelist {
		height: 500px;
		width: 300px;
}


#menu {
		width: 99%;
		height: 30px;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 20px;
		padding: 0px;
}

.menuclass {
		padding: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-right: 0px;
		margin-left: 20px;
		height: 30px;
		background-color: #ddddff;
		border-top: 1px solid red;
		border-bottom: 1px solid red;
		vertical-align: middle;
}

.menuclass li {
		list-style-type: none;
		float: left;
		margin: 0px;
		padding-left: 20px;
		padding-right: 25px;
		line-height: 30px;
		vertical-align: middle;
}

.menuclass li a {
		text-decoration: none;
		font-weight: bold;
		line-height: 30px;
}

.menuclass li a:hover {
		color: #ddddff;
		background-color: black;
}

#menu img {
		display: inline;
		float: left;
		border-color: #000000;
		border-style: solid;
		border-width: 1px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		height: 28px;
		margin-left: 10px;
		margin-top: 1px;
		margin-right: 0px;
		margin-bottom: 1px;
}

#calendar {
		border: 2px solid black;
		background-color: #ddddff;
		float: left;
		width: 100%;
}


